[submodule "lib/mingus"]
	path = lib/mingus
	url = git://github.com/pft/mingus.git
[submodule "lib/cider-nrepl"]
	path = lib/cider-nrepl
	url = https://github.com/clojure-emacs/cider-nrepl.git
[submodule "lib/circe"]
	path = lib/circe
	url = git@github.com:jorgenschaefer/circe.git
[submodule "lib/org-mode"]
	path = lib/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "lib/sonic-pi.el"]
	path = lib/sonic-pi.el
	url = git@github.com:repl-electric/sonic-pi.el.git
